# fly.toml app configuration file generated for loyalitybot on 2025-11-17T14:05:22+07:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'loyalitybot'
primary_region = 'sin'

[build]

[env]
  PORT = "8080"

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

[[processes]]
  name = "app"
  command = "uvicorn secure_api:app --host 0.0.0.0 --port 8080"

[[vm]]
  memory = '1gb'
  cpu_kind = 'shared'
  cpus = 1
